<h1>Posez une question</h1>

<form action="/ask" method='get'>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="your ask?">
  <input type="submit" value="Go on!">
</form>
